.menue {
  display: flex;
  width: 500px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  font-family: "Red Rose", cursive;
  font-size: 18px;
  margin-top: 10px;
}

.task:hover,
.weekly:hover,
.task:focus,
.weekly:focus {
  color: wheat;
  cursor: pointer;
}
