@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");

.name-container {
  width: 700px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 32%;
  margin-right: 50%;
  font-family: "Red Rose", cursive;
  box-shadow: 5px 10px 30px 0 rgb(5, 5, 5), 0 -3px 30px 0 black;
}

.ask {
  font-size: 30px;
  font-weight: bold;
}

input {
  margin-top: 40px;
  padding: 10px 20px;
}

input::placeholder {
  font-family: "Red Rose", cursive;
  font-size: 15px;
}

.user-section {
  float: left;
  width: 400px;
  height: 100vh;
  background-color: #6a7871;
  padding-top: 50px;
  animation: slideOut 0.7s linear;
}

@keyframes slideOut {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
