@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");

.name-container {
  width: 700px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 32%;
  margin-right: 50%;
  font-family: "Red Rose", cursive;
  box-shadow: 5px 10px 30px 0 rgb(5, 5, 5), 0 -3px 30px 0 black;
}

.ask {
  font-size: 30px;
  font-weight: bold;
  color: wheat;
}

.name {
  margin-top: 40px;
  padding: 15px 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid whitesmoke;
  opacity: 0.8;
  color: wheat;
  font-family: "Red Rose", cursive;
  font-size: 18px;
}

.name:focus,
.name:hover {
  border: 2px solid whitesmoke;
  opacity: 1;
}

.name::placeholder {
  font-family: "Red Rose", cursive;
  font-size: 16px;
  color: wheat;
}

.user-section {
  float: left;
  width: 500px;
  height: 100vh;
  background-color: #592330;
  padding-top: 50px;
  animation: slideOut 0.7s linear;
}

@keyframes slideOut {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

.load-user {
  box-shadow: none;
  height: 50px;
  width: 500px;
  margin: 30px 0;
  font-size: 30px;
}
